* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
input {
  border: none;
  outline: none;
  text-align: center;
  box-shadow: 0 2px 5px -1px #aeb4b8;
  margin: 0.5rem 0;
}
button {
  margin: 0 0.5rem;
  padding: 0.5rem 0.8rem;
}
